#Please replace "..." with your local dir following the comments
foxit_loc="/archive/foxit_quick_pdf_library_1811_linux/" # FOXIT Lib dir (absolute path)
AFLpp_loc="/archive/AFL++LARGE/" # AFL++ dir (absolute path)
IN_DIR="/archive/hierachy-fuzzing/testcases/over_load_form/test_case_html/" # HTMLs dir (test sample : hierachy-fuzzing/testcases/HTML_testcase/) (absolut path)
OUT_DIR="/archive/hierachy-fuzzing/eval/harness_out/output09272021/" # dir of harness fuzzing output (can be any empty dir for testing) (absolute path)
SRC="/archive/hierachy-fuzzing/" # dir of hierarchy-fuzzing (absolut path)
EVAL_BIN="/archive/hierachy-fuzzing/eval/mupdf/" # dir of migrate target dir, where to save or parallal with dir of afl_S_0, afl_S_1, ... (absolute path)
TIME="5" # how many minutes you want to run on ONE harness (only need to provide for multiple HTML inputs) (absolute path)
DATE="09272021" # The running date 
NUM="4" # how many NORMAL AFL++ instance you want to run
MAIN_GO="/archive/hierachy-fuzzing/scripts/afl-launch/main.go" # go script path to concurrent start AFL++ instance
COMMAND="/archive/hierachy-fuzzing/eval/mupdf/bin/mutool_afl++ draw @@" # provide command line to running AFL++ fuzzing
GO="/archive/go/bin/go" # provide path of go
#AFL="/home/yifan/pdf_program/AFLLarge/" # AFL dir (absolute path) used on ubuntu16's running of main instances fuzzing and trims
