#Please replace "..." with your local dir following the comments
foxit_loc="/home/yifan/foxit_quick_pdf_library_1811_linux/" # FOXIT Lib dir (absolute path)
AFLpp_loc="/home/yifan/AFL++LARGE/" # AFL++ dir (absolute path)
IN_DIR="/home/yifan/hierachy-fuzzing/testcases/over_load_form/test_case_html/" # HTMLs dir (test sample : hierachy-fuzzing/testcases/HTML_testcase/) (absolut path)
OUT_DIR="/home/yifan/hierachy-fuzzing/eval/output2/" # dir of harness fuzzing output (can be any empty dir for testing) (absolute path)
SRC="/home/yifan/hierachy-fuzzing/" # dir of hierarchy-fuzzing (absolut path)
EVAL_BIN="/home/yifan/hierachy-fuzzing/eval/mupdf/" # dir of migrate target dir, where to save or parallal with dir of afl_S_0, afl_S_1, ... (absolute path)
TIME="5" # how many minutes you want to run on ONE harness (only need to provide for multiple HTML inputs) (absolute path)
DATE="09112021" # The running date 
NUM="2" # how many NORMAL AFL++ instance you want to run
MAIN_GO="/home/yifan/hierachy-fuzzing/scripts/afl-launch/main.go" # go script path to concurrent start AFL++ instance
COMMAND="/home/yifan/hierachy-fuzzing/eval/mupdf/bin/mutool draw @@" # provide command line to running AFL++ fuzzing
GO="/home/yifan/go/bin/go" # provide path of go
AFL="/home/yifan/pdf_program/AFLLarge/" # AFL dir (absolute path) used on ubuntu16's running of main instances fuzzing and trims
