# Please replace "..." with your local dir following the comments
foxit_loc="/home/yifan/foxit_quick_pdf_library_1811_linux/" # FOXIT Lib dir (absolute path)
AFLpp_loc="/home/yifan/AFLplusplus/" # AFL++ dir (absolute path)
IN_DIR="/home/yifan/hierachy-fuzzing/testcases/HTML_testcase/" # HTMLs dir (test sample : hierachy-fuzzing/testcases/HTML_testcase/) (absolut path)
OUT_DIR="/home/yifan/hierachy-fuzzing/eval/output/" # dir of harness fuzzing output (can be any empty dir for testing) (absolute path)
SRC="/home/yifan/hierachy-fuzzing/" # dir of hierarchy-fuzzing (absolut path)
QUEUE="/home/yifan/hierachy-fuzzing/eval/harness_queue/" # dir of migrate target dir, parallal with dir of afl_S_0, afl_S_1, ... (can be any empty dir for testing) (absolute path)
TIME="5" # how many minutes you want to run on ONE harness (only need to provide for multiple HTML inputs) (absolute path)

