foxit_loc="/home/yifan/foxit_quick_pdf_library_1811_linux/"
AFLpp_loc="/home/yifan/AFL++LARGE/"
IN_DIR="/home/yifan/hierachy-fuzzing/testcases/HTML_testcase/"
OUT_DIR="/home/yifan/hierachy-fuzzing/testcases/new_out/"
SRC="/home/yifan/hierachy-fuzzing/"
QUEUE="/home/yifan/hierachy-fuzzing/testcases/new_q/"
TIME="5"

