foxit_loc="~/foxit_quick_pdf_library_1811_linux/" # FOXIT Lib dir
AFLpp_loc="~/AFL++LARGE/" # AFL++ dir
IN_DIR="~/hierachy-fuzzing/testcases/HTML_testcase/" # HTMLs dir (test sample : ~/hierarchy-fuzzing/testcases/HTML_testcase)
OUT_DIR="~/hierachy-fuzzing/testcases/new_out/" # dir of harness fuzzing output (can be any empty dir for testing)
SRC="~/hierachy-fuzzing/" # dir of hierarchy-fuzzing
QUEUE="~/hierachy-fuzzing/testcases/new_q/" # dir of migrate target dir (can be any empty dir for testing)
TIME="5" # how many minutes you want to run on ONE harness (only need to provide for multiple HTML inputs)

