# Please replace "..." with your local dir following the comments
foxit_loc="... " # FOXIT Lib dir (absolute path)
AFLpp_loc="..." # AFL++ dir (absolute path)
IN_DIR="..." # HTMLs dir (test sample : hierarchy-fuzzing/testcases/HTML_testcase/) (absolut path)
OUT_DIR="..." # dir of harness fuzzing output (can be any empty dir for testing) (absolute path)
SRC="..." # dir of hierarchy-fuzzing (absolut path)
QUEUE="..." # dir of migrate target dir (can be any empty dir for testing) (absolute path)
TIME="..." # how many minutes you want to run on ONE harness (only need to provide for multiple HTML inputs) (absolute path)

